<ol class="hand">
	<li class="s-suit">
		<span class="suit-symbol">{{{suitSymbol "s"}}}</span>
		{{#each s}}{{uppercase this}}{{else}}-{{/each}}
	</li>
	<li class="h-suit">
		<span class="suit-symbol">{{{suitSymbol "h"}}}</span>
		{{#each h}}{{uppercase this}}{{else}}-{{/each}}
	</li>
	<li class="d-suit">
		<span class="suit-symbol">{{{suitSymbol "d"}}}</span>
		{{#each d}}{{uppercase this}}{{else}}-{{/each}}
	</li>
	<li class="c-suit">
		<span class="suit-symbol">{{{suitSymbol "c"}}}</span>
		{{#each c}}{{uppercase this}}{{else}}-{{/each}}
	</li>
</ol>